:root {
  --bg-color: #ffffff;
  --bg-hero-color: #2f303a;
  --bg-footer-color: #2f303a;
  --primary-action-color: #2196f3;
  --project-item-heading-color: #212121;
  --header-color: #212121;
  --primary-text-color: #757575;
  --hero-active-color: #ffffff;
  --logo-header-second-part-color: #000000;
  --btn-category-color: #f5f4fa;
  --header-border-color: #ececec;
  --portfolio-item-bg-color: #ffffff;
  --portfolio-text-border-color: #eeeeee;
  --team-bg-color: #f5f4fa;
}

body {
  overflow-y: scroll;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  border: 0;
}

.general-header-properties {
  font-weight: 700;
  color: var(--header-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header- and footer- section  */

.header-section {
  border-bottom: 1px solid var(--header-border-color);
}

.header-all-elements {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  padding: 0;
}

.header-nav-contacts {
  display: flex;
  margin-left: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-action-color);
}
.logo-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-header-second-part {
  color: var(--logo-header-second-part-color);
}

.menu-item {
  margin-left: 1rem;
}

.menu-item,
.contact-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-link,
.header-nav-link:visited {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--project-item-heading-color);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item {
  display: none;
}

@media (min-width: 768px) {
  .contact-item {
    display: block;
  }
}

.header-contact-link {
  font-weight: 500;
  color: var(--primary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--primary-action-color);
}

.footer-section {
  background-color: var(--bg-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer-second-part {
  color: var(--bg-color);
}

.footer-contact-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.map-link {
  color: var(--bg-color);
}

.header-nav-link.active-page {
  color: var(--primary-action-color);
}

/* hero section */

.hero-section {
  background-color: var(--bg-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-header {
  color: var(--hero-active-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: var(--primary-action-color);
  color: var(--hero-active-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* studio main section */

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-name {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-item-description {
  font-size: 14px;
  line-height: 1.71;
}

.section.studio-activities {
  padding-top: 0;
}

.activities-and-team-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activities-list {
  display: flex;
}

.activities-item:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  background-color: var(--team-bg-color);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  background: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-image {
  display: block;
}

.team-item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-member-speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* portfolio main section */

.portfolio-filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0.5rem;
}

@media (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.portfolio-items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-category {
  color: var(--project-item-heading-color);
  background-color: var(--btn-category-color);
  padding: 6px 22px;
}

.category-item {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

.btn-category:hover,
.btn-category:focus,
.btn-category.active-btn {
  color: var(--bg-color);
  background-color: var(--primary-action-color);
}

.portfolio-item {
  background-color: var(--portfolio-item-bg-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  width: calc(100% - 2rem);
}

@media (min-width: 576px) {
  .portfolio-item {
    width: calc(100% / 2 - 2rem);
  }
}

@media (min-width: 992px) {
  .portfolio-item {
    width: calc(100% / 3 - 2rem);
  }
}

.portfolio-item:hover {
  box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.1);
}
.portfolio-item img {
  max-width: 100%;
}

.portfolio-item-image {
  display: block;
  border-right: 1px solid var(--portfolio-text-border-color);
  border-top: 1px solid var(--portfolio-text-border-color);
  border-left: 1px solid var(--portfolio-text-border-color);
}

.portfolio-item-text {
  padding: 1rem;
  border-right: 1px solid var(--portfolio-text-border-color);
  border-bottom: 1px solid var(--portfolio-text-border-color);
  border-left: 1px solid var(--portfolio-text-border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.portfolio-item-name {
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-decoration: none;
}

.portfolio-item-name:hover {
  text-decoration: underline;
}

.description-category {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-item {
  position: relative;
}
.portfolio-item-image img {
  object-fit: cover;
  object-position: center top;
  height: 202px;
  margin: 0 auto;
  /* position: absolute; */
  left: 0;
  right: 0;
  width: 100%;
  transition: all 5s ease-out 0s;
}

.portfolio-item-image:hover {
  /* cursor: pointer; */
}

.portfolio-item-image:hover img {
  object-position: center bottom;
}
